fastapi
uvicorn
python-multipart
pdfplumber
langchain
langgraph
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-text-splitters
chromadb
sentence-transformers
pydantic
reportlab
